html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.nice-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 700;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: -webkit-linear-gradient(92deg,#42a1f4,#2ae0bf);
    -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}